#buttons {
  position: absolute;
  right: 30px;
  top: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.build-button {
  width: 100px;
  height: 100px;
}

#tooltip {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 20pt;
  pointer-events: none;
}

#projection {
  position: absolute;
  pointer-events: none;
}

#stats {
  position: absolute;
  left: 30px;
  top: 10px;
}
#xp {
  color: white;
  font-size: 20pt;
  font-weight: 900;
}
