*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gridContainer {
  outline: 5px solid black;
  position: relative;
}

td {
  padding: 0;
  height: 40px;
  width: 40px;
  outline: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.floating-buttons {
  position: absolute;
}

#guide {
  top: 50px;
  left: 50px;
  background-color: yellow;
  border-radius: 50%;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-size: 40pt;
  font-weight: bold;
  filter: opacity(30%);
  cursor: pointer;
}

#build {
  bottom: 50px;
  right: 50px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid cyan;
  width: 100px;
  height: 100px;
  font-size: 40pt;
  font-weight: bold;
  filter: opacity(30%);
  cursor: pointer;
}

.floating-buttons:hover {
  filter: opacity(100%) !important;
}

#ProjectionMine {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
}

i {
  pointer-events: none;
}
