*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body {
  margin: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gridContainer {
  scroll-snap-type: y mandatory;
  outline: 5px solid black;
  position: relative;
  table-layout: fixed;
  width: 1600px;
  height: 800px;
  overflow-x: auto;
}

td {
  padding: 0;
  height: 40px !important;
  width: 40px !important;
  outline: 1px solid black;
  text-align: center;
  vertical-align: middle;
}

.floating-buttons {
  position: absolute;
}

#guide {
  top: 35px;
  left: 30px;
  background-color: yellow;
  border-radius: 50%;
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-size: 40pt;
  font-weight: bold;
  filter: opacity(30%);
  cursor: pointer;
}

#build {
  bottom: 85px;
  right: 30px;
  background-color: black;
  border-radius: 10px;
  border: 1px solid cyan;
  width: 100px;
  height: 100px;
  font-size: 40pt;
  font-weight: bold;
  filter: opacity(30%);
  cursor: pointer;
}

.floating-buttons:hover {
  filter: opacity(100%) !important;
}

#ProjectionMine {
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 40px;
  height: 40px;
}

i {
  pointer-events: none;
}
